[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "*"
certifi = "*"
chardet = "*"
click = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
psycopg2-binary = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
requests = "*"
six = "*"
urllib3 = "*"
Flask = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
spotipy = "*"
pandas = "*"
scipy = "*"
sklearn = "*"
keras = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
